@charset "utf-8";
 @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
 @import url(http://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);
html,body {width:100%;font-family:"Noto Sans KR","Malgun Gothic", "NanumGothic", "Nanum Gothic", 'Montserrat'; }
body {overflow:auto;}

#doc {position: relative;width:100%; min-width:320px;  overflow:hidden;}
body {overflow-y:visible;overflow-x:hidden;}
body.no-scr {overflow-y:hidden;}

.doc-pg{position:relative; z-index:2001}
.div-abs {position:absolute;}
.div-wrap {position:relative;width:100%;text-align:left;;margin:0 auto 0 auto;}
.div-cont {position:relative;text-align:left;margin:0 auto 0 auto;}
.div-cont2 {position:relative;text-align:left;margin:0 auto 0 auto; height: 600px;}
.div-cont:after {clear:both;content:"";display:block;}

.body-slide-wr {position:relative;width:100%;height:100%;transition:margin 0.3s ease;}
.body-slider-ovclick , .container-bg{position:fixed;z-index:2006;width:100%;height:100%;right:0;top:0;background:rgba(0,0,0,0.75);cursor:pointer }


/* 스킵네비게이션 */
.skipNavi {height:0;}
.skipNavi a {display:block;position:fixed;width:1px;height:1px;top:-1000em;left:-1000em;z-index:2500;overflow:hidden;}
.skipNavi a:focus {width:auto;height:auto;background:#0672c5;color:#fff;padding:0.75em 1em;top:0;left:0;}


/* z-index */
.header-wrap-abs {z-index:7000;}
#gnavi-wr,#header-wrap,#header {z-index:2005;}
#container-wrap{z-index:10; }
#subtop-wrap {z-index:900;}
#container{z-index:1001}

/* 상단 */
.header-wrap-abs {position:relative;}
#header-wrap {height:210px}
#header {height:100%; z-index:9999}

/* 메뉴 */
#header-wrap .mn-bar {display:none; }
#header .bt-mnall {display:none;position:absolute;right:10px;top:20px;overflow:hidden;background:url(../_Img/Layout/bt-mnall.png) no-repeat center center ;width:24px;height:24px;z-index:6300;border:0;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

#logo {position:relative;padding-top:133px;z-index:2100;text-align:right; }
#logo a{display:inline-block;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
#logo img{display:inline-block;vertical-align:top; /* width:127px */}

	@media only screen and (min-width:1025px){ /*최소 1025px 이상 부터 적용하는 */
		/* MainNavi-wrap */
		#mainNavi-wrap {height:auto;position:absolute;  background:#fff;left:0;top:135px;display:block;z-index:6001;z-index:999; }
		#mainNavi-wrap .m-logo{text-indent:-999px; height:85px; background:url(../_Img/Layout/menu-logo.png) no-repeat ;  }
		#mainNavi-wrap .bt-mnclose{display:none;}
		#mainNavi {position:relative; padding-bottom:130px}
    #mainNavi .nobtm {padding-bottom:0;}

		.topmenu {display:block;position:relative;}
		.topmenu:after {display:block;content:"";clear:both;}
		.topmenu .tgl-btn {display:none;}
		.topmenu a, .topmenu span {white-space:nowrap;color:#666;}
		.topmenu .mn_l1 {display:block; position:relative;}
		.topmenu .mn_a1 {position:relative;line-height:1.35em;display:block;text-align:left;display:block;padding-top:15px;padding-bottom:13px;}
		.topmenu .mn_a1 .btxt{font-size:15px; font-weight:500;  padding-bottom:2px;color:#444; text-transform:uppercase; display:block;font-family:'Montserrat';}
		.topmenu .mn_a1 .stxt{font-size:12px; font-weight:300; color:#777;  display:block;font-family:"Noto Sans KR","Malgun Gothic", "NanumGothic", "Nanum Gothic"}
		.topmenu .mn_a1:before{background:#909090; z-index:-1; position:absolute; left:0; width:100%; height:1px; bottom:0; display:block; content:""}
		/* .topmenu .mn_a1:hover:after{background:#222; position:Absolute; top:0; z-index:-1; width:500px; height:100%; top:0; right:0; display:block; content:"";border-bottom:1px solid #909090;}
		.topmenu .mn_a1:hover .btxt{color:#fff;} */

		.topmenu #Notice.over .mn_a1:after{background:#222; position:Absolute; top:0; z-index:-1; width:500px; height:100%; top:0; right:0; display:block; content:"";border-bottom:1px solid #909090;}
		.topmenu #Notice.over .btxt{color:#fff;}


		.topmenu .has-sub .tgl-btn {padding:0;display:block;width:20px;height:20px;position:absolute;right:0px;top:8px;border:0;z-index:100;text-indent:-9999em;background:transparent;}
		.topmenu .has-sub .tgl-btn:before {content:'';position:absolute;left:0%;top:50%;width:62%;height:2px;background:#000;transform: rotate(90deg);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;	transition: all 0.2s ease-out;}
		.topmenu .has-sub .tgl-btn:after {content:'';position:absolute;left:0;top:50%;width:62%;height:2px;background:#000;transform: rotate(0deg);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;	transition: all 0.2s ease-out;}

		.topmenu .mn_l1 > .tgl-btn {right:10px;top:20px;}
		.topmenu .mn_l1:hover.has-sub .tgl-btn:before, .topmenu .mn_l1:hover.has-sub .tgl-btn:after{background:#000;}
		.topmenu .mn_l1.is-open > .tgl-btn:before{left:2px;transform: rotate(0); background:#000}
		.topmenu .mn_l1.is-open > .tgl-btn:after{right:2px;transform: rotate(0); background:#000}


		.topmenu .depth2-wrap {line-height:120%;display:none;visibility:hidden;padding:0;}
		.topmenu .depth2 {position:relative;height:auto;padding:0 0 0 0px;overflow:hidden; }
		.topmenu .depth2 li {white-space:nowrap;letter-spacing:-0.001em;line-height:1.3em; width:auto;}
		.topmenu .depth2 .mn_l2 {text-align:left; }
		.topmenu .depth2 .mn_a2 {cursor:pointer;padding-top:8px;padding-bottom:0px;padding-right:0; display:block; padding-left:10px;}
		.topmenu .depth2 .mn_a2 span {display:block;position:relative;font-weight:500;white-space:nowrap; font-size:16px;color:#002882;}
		.topmenu .depth2 .mn_a2 .btxt{font-size:14px;padding-left:10px; font-weight:600; letter-spacing:0;padding-top:7px ;padding-bottom:2px; color:#555; text-transform:uppercase; display:block;font-family:'Montserrat';}
		.topmenu .depth2 .mn_a2 .stxt{font-size:12px;padding-left:10px; font-weight:300; color:#999;padding-bottom:10px;  display:block;font-family:"Noto Sans KR","Malgun Gothic", "NanumGothic", "Nanum Gothic";border-bottom:1px solid #ddd; }
		.topmenu .depth2 li.mn_l2:last-child .mn_a2 .stxt{ border-bottom:none;}

		.topmenu .depth2 .mn_a2:hover, .topmenu .depth2 .over .mn_a2,  .topmenu .depth2 .is-open .mn_a2:hover{background:#222;}
		.topmenu .depth2 .mn_a2:hover .btxt, .topmenu .depth2 .over .mn_a2 .btxt, .topmenu .depth2 .is-open .mn_a2 .btxt{color:#fff;}
		.topmenu .depth2 .mn_a2:hover .stxt, .topmenu .depth2 .over .mn_a2 .stxt, .topmenu .depth2 .is-open .mn_a2 .stxt{border-color:#222}

		.topmenu .depth2 .over .mn_a2 ,.topmenu .depth2 .mn_a2:hover,.topmenu .depth2 .mn_a2:focus, .topmenu .depth2 .mn_a2:active {font-weight:600;}
		.topmenu .depth2 .is-over .mn_a2 span,topmenu .depth2 .over .mn_a2 span {color:002882; }
		.topmenu .depth2 .is-over .mn_a2 span:after,.topmenu .depth2 .over .mn_a2 span:after, .topmenu .depth2 .mn_a2:hover span:after{width:100%;margin-left:-50%;}


		#mainNavi-wrap .ovbar {position:absolute;height:14px;top:45px;display:block;overflow:hidden; height:12px; display:block;;}
		#mainNavi-wrap .ovbar:after {position:absolute;bottom:0;left:50%;margin-left:-33%;background:#fff; height:1px;content:"";display:block;z-index:200; width:66%}

		.sns-wrap ul li{display:inline-block;}
		.sns-wrap li a{width:30px; height:30px; display:block;}
		.sns-wrap li a.sns-01{background:url(../_Img/Layout/sns-01.jpg) no-repeat center; background-size:26px auto}
		.sns-wrap li a.sns-02{background:url(../_Img/Layout/sns-02.jpg) no-repeat center; background-size:26px auto}
		.sns-wrap li a.sns-03{background:url(../_Img/Layout/sns-03.jpg) no-repeat center; background-size:26px auto}

		.left-banner{ position:absolute; right:0; bottom:0; width:100%;height:0;}
		.left-banner a{display:block; position:Absolute; bottom:-268px; right:0;}
	}

	@media only screen and (max-width:1024px) {
		.header-wrap-abs {z-index:2006;}
		#gnavi-wr, #header-wrap,#header {z-index:1000;}



		/* 메뉴 */
		#header-wrap .mn-bg {display:none;}
		#mainNavi {background:#fff;position:fixed;transition:right 0.3s ease;z-index:7000;right:-320px;top:0px;width:270px;height:100%;overflow-x:hidden;overflow-y:scroll;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;	transition: all 0.2s ease-out;}
		#mainNavi.mn-h-open {right:0;}

		#mainNavi-wrap{position:relative; z-index:7000;}
		#mainNavi-wrap .tmn-tit{background:#fff; height:63px; position:relative;}
		#mainNavi-wrap .m-logo{text-indent:-999px; height:63px; background:url(../_Img/Layout/menu-logo.png) no-repeat 20px center ; background-size:30px auto}
		#mainNavi-wrap .bt-mnclose{position:absolute;right:0px;top:0px;width:43px;height:63px;border:0;background:url(../_Img/Layout/bt-close.png) no-repeat center center;}

		.topmenu {display:block;position:relative;border-top:1px solid #cecece}
		.topmenu:after {display:block;content:"";clear:both;}
		.topmenu .tgl-btn {display:none;}
		.topmenu a, .topmenu span {white-space:nowrap;color:#666;}
		.topmenu .mn_l1 {display:block; position:relative;border-bottom:1px solid #ddd}
		.topmenu .mn_a1 {position:relative;line-height:1.35em;display:block;text-align:left;display:block;padding-top:15px;padding-bottom:13px; padding-left:15px;background:#eee}
		.topmenu .mn_a1 .btxt{font-size:15px; font-weight:600;  padding-bottom:2px;color:#444; text-transform:uppercase; display:block;font-family:'Montserrat';}
		.topmenu .mn_a1 .stxt{font-size:12px; font-weight:300; color:#777;  display:block;font-family:"Noto Sans KR","Malgun Gothic", "NanumGothic", "Nanum Gothic"}
		/* .topmenu .mn_a1:before{background:#909090; z-index:-1; position:absolute; left:0; width:100%; height:1px; bottom:0; display:block; content:""}
		.topmenu .mn_a1:hover{background:#222; }
		.topmenu .mn_a1:hover{color:#fff;} */

		.topmenu #Notice.over .mn_a1:after{background:#222;}
		.topmenu #Notice.over .btxt{color:#fff;}

		.topmenu .has-sub .tgl-btn {padding:0;display:block;width:20px;height:20px;position:absolute;right:0px;top:8px;border:0;z-index:100;text-indent:-9999em;background:transparent;}
		.topmenu .has-sub .tgl-btn:before {content:'';position:absolute;left:0%;top:50%;width:62%;height:2px;background:#000;transform: rotate(90deg);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;	transition: all 0.2s ease-out;}
		.topmenu .has-sub .tgl-btn:after {content:'';position:absolute;left:0;top:50%;width:62%;height:2px;background:#000;transform: rotate(0deg);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;	transition: all 0.2s ease-out;}

		.topmenu .mn_l1 > .tgl-btn {right:5px;top:20px;}
		.topmenu .mn_l1:hover.has-sub .tgl-btn:before, .topmenu .mn_l1:hover.has-sub .tgl-btn:after{background:#000;}
		.topmenu .mn_l1.is-open > .tgl-btn:before{left:2px;transform: rotate(0); background:#000}
		.topmenu .mn_l1.is-open > .tgl-btn:after{right:2px;transform: rotate(0); background:#000}


		.topmenu .depth2-wrap {line-height:120%;display:none;visibility:hidden;padding:0;}
		.topmenu .depth2 {position:relative;height:auto;padding:0 0 0 0px;/* overflow-x:hidden;overflow-y:auto;max-height:256px */;border-top:1px solid #dbdbdb}
		.topmenu .depth2 li {white-space:nowrap;letter-spacing:-0.001em;line-height:1.3em; width:auto;}
		.topmenu .depth2 .mn_l2 {text-align:left; }
		.topmenu .depth2 .mn_a2 {cursor:pointer;padding-top:8px;padding-bottom:0px;padding-right:0; display:block;}
		.topmenu .depth2 .mn_a2 span {display:block;position:relative;font-weight:500;white-space:nowrap; font-size:16px;letter-spacing:-0.01em;color:#002882;}
		.topmenu .depth2 .mn_a2 .btxt{font-size:14px;padding-left:15px; font-weight:600; letter-spacing:0;padding-top:7px ;padding-bottom:2px; color:#555; text-transform:uppercase; display:block;font-family:'Montserrat';}
		.topmenu .depth2 .mn_a2 .stxt{font-size:12px;padding-left:15px; font-weight:300; color:#999;padding-bottom:10px;  display:block;font-family:"Noto Sans KR","Malgun Gothic", "NanumGothic", "Nanum Gothic";border-bottom:1px solid #ddd; }
		.topmenu .depth2 li.mn_l2:last-child .mn_a2 .stxt{ border-bottom:none;}

		.topmenu .depth2 .mn_a2:hover, .topmenu .depth2 .over .mn_a2,  .topmenu .depth2 .is-open .mn_a2:hover{background:#222;}
		.topmenu .depth2 .mn_a2:hover .btxt, .topmenu .depth2 .over .mn_a2 .btxt, .topmenu .depth2 .is-open .mn_a2 .btxt{color:#fff;}
		.topmenu .depth2 .mn_a2:hover .stxt, .topmenu .depth2 .over .mn_a2 .stxt, .topmenu .depth2 .is-open .mn_a2 .stxt{border-color:#222}

		.topmenu .depth2 .over .mn_a2 ,.topmenu .depth2 .mn_a2:hover,.topmenu .depth2 .mn_a2:focus, .topmenu .depth2 .mn_a2:active {font-weight:600;}
		.topmenu .depth2 .is-over .mn_a2 span,topmenu .depth2 .over .mn_a2 span {color:002882; }
		.topmenu .depth2 .is-over .mn_a2 span:after,.topmenu .depth2 .over .mn_a2 span:after, .topmenu .depth2 .mn_a2:hover span:after{width:100%;margin-left:-50%;}


		.sns-wrap{display:none}
		.left-banner{display:none;}

	}
/* 컨텐츠 */
.cont-top {position:relative;margin-bottom:20px; padding-top:70px}
.cont-tit {line-height:1.2em; display:block;}
.cont-tit h2 {display:none;font-size:33px;letter-spacing:-0.05em; padding-bottom:8px;line-height:1.2em;margin:0.5em 0 0.5em 0;font-weight:800;color:#222; text-align:left}
#contents-wrap .is-top {position:absolute; right:0; bottom:80px; background:url(../_Img/Layout/top-ico.png) no-repeat right center; height:35px; color:#000;font-family:'Montserrat';font-size:13px; font-weight:600; padding-right:50px; line-height:35px; }

#contents-wrap {min-height:350px;letter-spacing:0em;word-break:keep-all;word-wrap:break-word;font-size:15px;text-align:left; color:#111; }
#container {position:relative;display:block;}
.scontainer #contents-wrap{overflow:hidden; padding-top:130px; padding-bottom:150px; min-height:600px}
.scontainer #contents-wrap2{overflow:hidden; padding-bottom:0; min-height:600px}

/*.scontainer #contents-wrap{
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 150px;
  min-height: 600px;
}*/




	@media only screen and  (min-width:1301px) {
		#mainNavi-wrap{width:294px;padding:0 43px 43px 43px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
		#logo{width:1240px; margin:0 auto;}


		#mainNavi-wrap .m-logo{margin-top:100px;}
		#container-wrap{max-width:1240px; margin:0 auto;}
		.scontainer #contents{ float:right; width:885px; }
	}

	@media only screen and  (min-width:1025px) and  (max-width:1300px) {
		#mainNavi-wrap {width:264px;padding:0 33px;}
		#logo{width:960px; margin:0 auto;}
		#container-wrap{max-width:960px; margin:0 auto;}

		.scontainer #contents{ float:right; width:660px; }
    .scontainer #contents .int-main{ float:left;}


		#mainNavi-wrap .m-logo{margin-top:80px;}
	}
	@media only screen and  (max-width:1024px) {

		#header-wrap {background:#fff; height:63px}
		#logo{padding:0; width:auto;text-align:center;}
		#logo a{display:inline-block;;height:63px; width:130px;background:url(../_Img/Layout/menu-logo.png)no-repeat center center ; background-size:30px auto}
		#logo img{display:none;}

		#header .bt-mnall{display:block;}

		.scontainer #contents-wrap{padding:25px 15px ;min-height:auto;}
		.scontainer #contents{ float:none; width:auto;}

		#contents-wrap .is-top{display:none;}
	}



/* /////////////////////////////// 하단 ///////////////////////////////////*/
#footer-wrap {display:block; background:#222; z-index:2000}
#footer-wrap *{-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
#footer { padding:30px 40px;font-family:'Montserrat';}
#footer .f-logo{position:absolute; right:0px; bottom:0px;}
#footer .f-logo img{width:190px}

#f-link{ position:relative;overflow:hidden; }
#f-link .ov{overflow:hidden}
#f-link ul{float:left; width:180px; margin-right:40px}
#f-link ul:first-child{/* margin-left:0; */}
#f-link li { position:relative;vertical-align:top ;margin-bottom:10px;}
#f-link li a{display:block; color:#989898; font-size:11px;text-transform:uppercase; height:15px;line-height:140%;letter-spacing:-0.01em;}
#f-link li.yellow a{ color:#e9d91d;font-size:12px; font-weight:600}

#f-info{margin-top:50px;position:relative; padding:20px 0; border-top:1px solid rgba(121,121,121,0.8)}
/* #f-info:after{background:#797979; width:2000px; height:1px ; position:absolute; left:50%;margin-left:-1000px; top:0; display:block; content:""; opacity:0.8} */
#f-info .f-copy{color:#989898; font-size:11px;position:absolute; left:0; top:20px;}
#f-info ul{ overflow:hidden; position:absolute; right:0; top:20px;}
#f-info ul li{float:left; color:#989898;margin-left:28px; position:relative; font-size:11px; }
#f-info ul li:last-child{font-family:"Noto Sans KR";}
#f-info ul li:after{background: rgba(121,121,121,0.6); width:1px; height:10px; position:absolute; left:-14px; display:block; top:50%;margin-top:-5px; content:""}
#f-info ul li:first-child:after{display:none;}
#f-info ul li:first-child{margin-left:0;}

	@media only screen and  (max-width:1240px) {
		#footer { padding:30px 25px}
		#footer .f-logo img{width:180px;}
	}
	@media only screen and  (max-width:980px) {
		#f-link ul{margin-bottom:30px;}
		#f-link ul:last-child{margin-bottom:0px;}
	}
	@media only screen and  (max-width:840px) {
		#footer .f-logo img{width:180px;}

		#f-info{margin-top:20px;}
		#f-info .f-copy{position:relative; left:auto; top:auto;text-align:left; line-height:130%; margin-top:5px;}
		#f-info ul{position:relative; right:auto; top:auto;}
		#f-info ul li{margin-left:14px; }
		#f-info ul li:after{left:-7px}
	}
	@media only screen and  (max-width:380px) {
		#footer { padding:25px 15px 0 15px}
		#footer .f-logo{ position:relative; right:auto; bottom:auto; text-align:right;}
		#footer .f-logo img{width:140px;}

		#f-info ul li:last-child{margin-left:0; width:100%;}
		#f-info ul li:last-child:after{display:none}
	}



#btm-wrap {height:300px; float: left; display: inline-block; width: 100%}
#btm1 {border: 1px solid; width:200px;; vertical-align:middle; text-align: center; padding:30px 20px 10px 40px;}
#btm2 {border: 1px solid; width:200px; vertical-align:middle; text-align: center; padding:30px 40px 10px 40px;}
#btm3 {background-color: red;border: 1px solid; width:auto; width:200px;  vertical-align:middle; padding:30px 10px 10px 20px; padding-right: 5%;}
/*#btm3 ul li {line-height: 10px; margin: 0; padding: 0;}
#btm3 ul li .itit {line-height: 12px;} */

.introb-wrap{ background:#fff; padding:25px 30px 25px 30px; height: auto; position: absolute;}
.introb-wrap .introb-con {position:relative; padding-bottom:18px;}
.introb-wrap .introb-con ul{ border-top:2px solid #6b6b6b; border-bottom:2px solid #6b6b6b}
.introb-wrap .introb-con li:first-child{border-top:0;}
.introb-wrap .introb-con li{border-top:1px solid #6b6b6b}
.introb-wrap .introb-con h3{font-family: "Montserrat"; font-size:24px; color:#000;text-transform:uppercase; margin-bottom: 12px;}
.introb-wrap .introb-con li a{display:block; position:relative; padding:15px 0}
.introb-wrap .introb-con li a span.itit{ display:block; padding:0px 100px 0px 0;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 14px; height: }
.introb-wrap .introb-con li a span.date{display:block; padding:20px 0; position:absolute; right:0; top:0;}
.introb-wrap .introb-con a.all-btn{border:3px solid #9b9b9b; color:#9b9b9b; font-size:14px; display:inline-block; vertical-align:top; line-height:30px; padding:0 14px;}


#btm-wrap .archives-wrap {height: 240px; padding-bottom: 20px;}
#btm-wrap .archives-con li a span.tit{padding-right:0; color:#fff;}
#btm-wrap .archives-con li a span.date{position:relative; left:auto; right:auto; top:auto; margin-top:3px; padding:0; font-size:12px; color:#fff; }
